mlflow<3,>=2.2
cffi==1.16.0
defusedxml==0.7.1
fsspec==2023.12.2
numpy==1.23.5
packaging==23.2
pandas==2.1.4
pillow==10.1.0
protobuf==4.25.1
pydot==1.4.2
requests==2.31.0
scipy==1.11.4
tensorflow-intel==2.12.0
tensorflow==2.12.0