<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Underwater Animal Identification</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <video autoplay muted loop id="video-background">
        <!-- Replace 'your-video.mp4' with the path to your video file -->
        <source src="b.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="img.html">Image Search</a>
            <a href="#resnet18">OSS Chat</a>
        </nav>
    </div>
    <section>
    
        <h1>Welcome to the Underwater Animal Identification Web Application</h1>
        <p id="abc">This web application demonstrates the identification and classification of underwater animals using three hybrid Classical-Quantum neural networks: ResNet50-QCNN, ResNet18-QCNN, and InceptionV3-QCNN algorithms.</p>
    
        <!-- Add more content as needed -->
    </section>
    
    <footer>
        <p>&copy; 2024 Underwater Animal Identification Project @Team DevRev07</p>
    </footer>

</body>
</html>
