body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: rgb(98, 98, 154);
    color: white;
    text-align: center;
    padding: 1px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#imageUpload {
    text-align: center;
}

.upload-container {
    margin-bottom: 20px;
}
button, .upload-container label {
    padding: 12px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}


button:hover, .upload-container label:hover {
    background-color: #45a049;
}
button:focus, .upload-container label:active{
    outline: none;
}
button:active, .upload-container label:active {
    transform: translateY(1px);
}

#imagePreview {
    margin: 20px 0;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px 0;
    display: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#resultText {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: rgb(98, 98, 154);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
